<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=yes"
    />

    <title>Correlico</title>
  </head>

  <body style="background-color: rgba(0, 0, 0, 0.678);">
      <span style="color: whitesmoke;">{{news_source_one}} ({{pub_time_one}}): </span><a style="color: rgba(29, 252, 0, 0.699);" href = {{url_one}}>{{headline_one}}</a><br><br>
      <span style="color: whitesmoke;">{{news_source_two}} ({{pub_time_two}}): </span><a style="color: rgb(80, 252, 0);" href = {{url_two}}>{{headline_two}}</a><br><br>
      <span style="color: whitesmoke;">{{news_source_three}} ({{pub_time_three}}): </span><a style="color: rgb(115, 252, 0);" href = {{url_three}}>{{headline_three}}</a><br><br>
      <span style="color: whitesmoke;">{{news_source_four}} ({{pub_time_four}}): </span><a style="color: rgb(155, 252, 0);" href = {{url_four}}>{{headline_four}}</a><br><br>
      <span style="color: whitesmoke;">{{news_source_five}} ({{pub_time_five}}): </span><a style="color: rgb(200, 252, 0);" href = {{url_five}}>{{headline_five}}</a><br><br>
      <span style="color: whitesmoke;">{{news_source_six}} ({{pub_time_six}}): </span><a style="color: rgb(248, 252, 0);" href = {{url_six}}>{{headline_six}}</a><br><br>
      <span style="color: whitesmoke;">{{news_source_seven}} ({{pub_time_seven}}): </span><a style="color: rgb(252, 172, 0);" href = {{url_seven}}>{{headline_seven}}</a><br><br>
      <span style="color: whitesmoke;">{{news_source_eight}} ({{pub_time_eight}}): </span><a style="color: rgb(252, 122, 0);" href = {{url_eight}}>{{headline_eight}}</a><br><br>
      <span style="color: whitesmoke;">{{news_source_nine}} ({{pub_time_nine}}): </span><a style="color: rgb(252, 113, 0);" href = {{url_nine}}>{{headline_nine}}</a><br><br>
      <span style="color: whitesmoke;">{{news_source_ten}} ({{pub_time_ten}}): </span><a style="color: rgb(252, 71, 0);" href = {{url_ten}}>{{headline_ten}}</a><br><br>

  </body>
</html>
